$bg: #FFFFF8;
$txt: #111;
$border: #EEE;
$link: #1B7D7D;
$link-active: #00A2A2;
$muted: #AAA;
$content-width: 780px;
$calluna: 'calluna', Georgia, Times New Roman, serif;
$franklin-gothic: 'franklin-gothic-urw', Helvetica, Arial, sans-serif;

html {
  font-family: $calluna;
  color: $txt;
  font-weight: 400;
  background: $bg;
  font-size: 24px;
}

body {
  margin: 0;
  position: relative;
}

p {
  text-align: justify;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1rem;
}

sup {
  line-height: 1em;
}

strong, b {
  font-weight: 700;
}

a, a code {
  color: $link;
  text-decoration: none;
  &:hover, &:hover code {
    text-decoration: underline;
  }
}

ul, ol {
  margin: 0 0 1rem;
  padding: 0;
  li {
    list-style-position: outside;
    padding: 0;
    margin: 0;
    line-height: 1.5em;
  }
}

blockquote {
  font-style: italic;
  font-size: 1.2em;
  margin-left: 1em;
  color: $muted;
}

h1 {
  font-family: $calluna;
  font-weight: 600;
  font-size: 3em;
  margin: 0 0 3rem;

  @media (max-width: $content-width) {
    margin: 0 0 2rem;
  }
}

h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 1em 0 0.3em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4, h5, h6 {
  font-size: 1.4em;
}

code {
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  font-size: 1em;
  line-height: 1.5em;
}

pre {
  padding: 1rem 1.4rem 1.4rem;
  overflow-x: auto;
  margin: 0 0 1em;
}

hr {
  border: 1px solid #eee;
  margin: 2rem 5rem 2.5rem;
}

.footnotes {
  margin-top: 2em;
  font-style: italic;
  border-top: 1px solid #eee;

  p { text-align: left; }

  ol {
    margin-top: 1.5em;
  }

  em {
    font-style: normal;
  }

  @media (max-width: $content-width) {
    ol li {
      list-style-position: inside;
    }
  }
}

.highlight pre {
  border-radius: 2px;
}

.gist {
  font-size: 1em;
  line-height: 1.5em;
}

iframe.showterm {
  border: 5px solid #000;
  width: 790px;
  background: #000;
  margin: 0 0 1em;
}

.post, .index, .projects, .about, .slides {
  z-index: 1;
  width: 90%;
  max-width: $content-width;
  margin: 4rem auto 0;

  @media (max-width: $content-width) {
    margin: 2rem auto 0;
  }
}

.post, .slides {
  header {
    width: 100%;
    position: relative;
    margin: 0 0 1rem;
    time {
      font-family: $calluna;
      font-style: italic;
      position: absolute;
      min-width: 30%;
      color: $muted;

      @media (max-width: $content-width) {
        width: 100%;
        position: static;
      }
    }
    .tags {
      margin: 0;
      padding: 0;
      text-align: right;
      padding-left: 20%;
      font-size: 0.9rem;
      font-family: $franklin-gothic;
      font-weight: 300;
      letter-spacing: 0.7px;
      list-style-type: none;
      li {
        display: inline-block;
        a {
          color: $muted;
        }
        & + li::before {
          color: $border;
          content: "\2014";
        }
      }

      @media (max-width: $content-width) {
        padding-left: 0;
        text-align: left;
        margin-top: 0.7rem;
      }
    }
  }
}

.banner {
  z-index: 2;
  background: $bg;
  border-bottom: 1px solid $border;
  width: 100%;
  font-size: 1.2em;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.5px;
  .banner-content {
    width: 90%;
    max-width: $content-width;
    margin: 1rem auto;
    position: relative;
    display: flex;
  }
  .name {
    line-height: 1.5em;
    font-style: normal;
    display: block;
    padding: 0;
    margin: 0;
    flex-grow: 1;

    @media (max-width: $content-width) {
      position: static;
    }
  }
  nav {
    flex-grow: 2;
    ul {
      margin: 0;
      padding: 0;
      text-align: right;
    }
    li {
      display: inline;
      margin: 0;
      padding: 0;
    }
    a {
      padding-left: 20px;
      display: inline-block;
    }


    @media (max-width: $content-width) {
      padding-left: 0;

      ul {
        text-align: left;
      }
      a {
        padding-left: 0;
        padding-right: 10px;
      }
    }
  }
  a.active {
    color: $link-active;
  }
}

.top-nav li:first-child a {
  padding-left: 0;
}

.footer {
  border-top: 1px solid $border;
  width: 100%;
  clear: both;
  font-family: $franklin-gothic;
  font-size: 1.6em;
  margin: 4em 0 0;
  .footer-icons, .footer-build-release {
    width: 90%;
    max-width: $content-width;
    margin: 1rem auto;
    text-align: center;
  }
  .footer-build-release {
    font-size: 0.7rem;
    font-style: italic;
    margin: 0 auto 1rem;
    font-family: $calluna;
    li {
      margin: 0;
      & + li::before {
        color: $border;
        content: "\2014";
      }
    }
    a {
      color: $muted;
    }
  }
  li {
    display: inline-block;
    margin-right: 1rem;
    a {
      display: inline-block;
      color: $muted;
    }
  }
  li:last-of-type {
    margin-right: 0;
  }
}

$time-width: $content-width * 0.2;
$time-left: $time-width * 1.1;
$time-break: $content-width + ($time-left * 2);

.posts {
  article {
    border-top: 1px solid $border;
    position: relative;
    padding: 2em 0;
    &:first-child {
      padding-top: 0;
      border: 0;
      time {
        top: 0;
      }
    }
    time {
      display: block;
      position: absolute;
      left: -#{$time-left};
      top: 2rem;
      width: $time-width;
      padding: 0;
      text-align: right;
      font-family: $calluna;
      font-style: italic;
      font-weight: 400;
      color: $muted;

      @media (max-width: #{$time-break}) {
        position: static;
        width: 100%;
        margin-bottom: 0.7rem;
        text-align: left;
      }
    }
    .content {
      display: block;
      font-weight: 600;
      .tags {
        list-style-type: none;
        font-family: $franklin-gothic;
        font-size: 0.9rem;
        font-weight: 300;
        letter-spacing: 0.7px;
        margin: 0.6rem 0 0;
        li {
          display: inline;
          a {
            color: $muted;
          }
          & + li::before {
            color: $border;
            content: "\2014";
          }
        }
      }
    }
  }
}

.projects {
  ul {
    li {
      list-style-type: none;
      display: inline;
      a {
        font-weight: 600;
      }
      & + li::before {
        color: $border;
        content: "\2014";
      }
    }
  }
}

.tag-name {
  font-style: italic;
}

.slides {
  .slide {
    display: inline-block;
    width: 100%;
    border-top: 1px solid #eee;
    padding: 1.5rem 0 0;
    img {
      width: calc(50% - 1rem);
      float: left;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
      margin-bottom: 1.5rem;
      @media (max-width: $content-width) {
        width: 100%;
        float: none;
      }
    }
    p, blockquote {
      padding-left: 50%;
      @media (max-width: $content-width) {
        padding-left: 0;
      }
    }
    blockquote {
      margin: 0 0 1rem;
      text-align: justify;
    }
  }
  .image-credits {
    border-top: 1px solid #eee;
    padding-top: 1.5rem;
    margin-top: 1rem;
  }
}
