$bg-blue: #285777;
$border-blue: #224D67;
$link-blue: #94C5DB;
$muted-link-blue: #4E8BA7;
$content-width: 800px;
$calluna: 'calluna', Georgia, Times New Roman, serif;
$franklin-gothic: 'franklin-gothic-urw', Helvetica, Arial, sans-serif;

html {
  font-size: 22px;
  font-family: $calluna;
  color: #EEE;
  line-height: 1.6em;
  font-weight: 400;
  background: $bg-blue;
}

body {
  margin: 0;
  position: relative;
  > footer {
    border-top: 1px solid $border-blue;
    margin-top: 40px;
    width: 100%;
    clear: both;
    padding: 40px 0 50px;
    font-family: $franklin-gothic;
    .footer-content {
      width: $content-width;
      margin: 0 auto;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      display: inline;
      i {
        font-size: 0.8em;
      }
    }
  }
}

p {
  margin: 0 0 1em;
}

strong, b {
  font-weight: 700;
}

a, a code {
  color: $link-blue;
  text-decoration: none;
  .muted {
    font-size: 0.75em;
    color: $muted-link-blue;
  }
}

a:hover, a:hover code {
  color: #FFF;
  .muted {
    color: #FFF;
  }
}

h1, h2, h3, h4 {
  font-family: $franklin-gothic;
  font-weight: 500;
  //margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.1em;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

code {
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  color: #FFF;
  font-size: 1em;
}

pre {
  padding: 10px 15px;
  overflow-x: auto;
  line-height: 1.2em;
  code {
    font-size: 0.8em;
  }
}

.highlight pre {
  border-radius: 2px;
}

.gist {
  font-size: 16px;
  line-height: 1.5em;
}

time {
  font-weight: 300;
}

article > footer, .comments {
  border-top: 1px solid $border-blue;
  margin-top: 40px;
  padding-top: 40px;
  font-family: $franklin-gothic;
  a {

  }
}

.post, .index, .projects, .about {
  z-index: 1;
  width: $content-width;
  margin: 36px auto 0;
}

.post header {
  time {
    display: block;
    margin-bottom: 10px;
  }
  .tags {
    margin-bottom: 20px;
  }
}

.banner {
  z-index: 2;
  background: $bg-blue;
  border-bottom: 1px solid $border-blue;
  width: 100%;
  padding: 40px 0;
  font-family: $franklin-gothic;
  font-size: 1em;
  color: #F5F5F5;
  line-height: 1em;
  h1 {
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
  }
  nav {
    font-weight: 400;
    ul {
      margin: 0;
      padding: 0;
      text-align: right;
    }
    li {
      display: inline;
      margin: 0;
      padding: 0;
    }
    a {
      padding-left: 20px;
      display: inline-block;
    }
    .active {
      color: $link-blue;
    }
  }
  a {
    color: #EEE;
    display: inline-block;
    padding: 0 2px 0;
    &:hover {
      color: #FFF;
    }
  }
}

.banner-content {
  width: $content-width;
  margin: 0 auto;
  position: relative;
}

.top-nav li:first-child a {
  padding-left: 0;
}

.back:before {
  content: '\2190\00A0';
}

.forward:after {
  content: '\00A0\2192';
}

.posts article {
  border-top: 1px solid $border-blue;
  position: relative;
  padding: 10px 0 15px;
  &:first-child {
    border: 0;
    padding-top: 0;
    time {
      top: 0;
    }
  }
  time {
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 200px;
    padding: 0;
  }
  .content {
    display: block;
    padding-left: 220px;
    > a {
      color: #EEE;
      &:hover {
        color: $link-blue;
      }
    }
  }
}

.tags {
  margin: 0;
  padding: 0;
  font-family: $franklin-gothic;
  font-style: italic;
}

.tags li {
  display: inline;
  font-size: 0.75em;
  color: #666;
  font-weight: 400;
}

.tags a {
  padding: 1px 6px 3px;
  background: $border-blue;
  border-radius: 2px;
}

.tags a:hover {
  color: #FFF;
}

.projects {
  margin-bottom: 80px;
  ul {
    margin: 20px 0 0;
    padding: 0;
    font-family: $franklin-gothic;
  }
  li {
    display: inline;
    margin: 0;
    padding: 0;
    a {
      padding: 6px 12px;
      background: $border-blue;
      white-space: nowrap;
      display: inline-block;
      border-radius: 3px;
    }
  }
}

.about {
  margin-bottom: 80px;
}
