<footer class="footer">
  <div class="footer-icons">
    <ul>
      <li>
        <a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i></a>
      </li>
      <li>
        <a href="https://twitter.com/josephcorcoran"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href="/articles.xml"><i class="fa fa-rss"></i></a>
      </li>
  </div>
  <div class="footer-build-release">
    <ul>
      <li><a href="{{ site.data.build.release_path }}">Release</a></li>
      <li><a href="{{ site.data.build.build_path }}">Build</a></li>
    </ul>
  </div>
</footer>
