<footer class="footer">
  <div class="footer-icons">
    <ul>
      <li>
        <a href="mailto:{{ site.email }}" title="Email"><i class="fa fa-envelope"></i></a>
      </li>
      <li>
        <a href="/joecorcoran.asc" title="PGP Key"><i class="fa fa-lock"></i></a>
      </li>
      <li>
        <a href="https://twitter.com/josephcorcoran" title="Twitter"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href="/articles.xml" title="RSS Feed"><i class="fa fa-rss"></i></a>
      </li>
  </div>
  <div class="footer-build-release">
    <ul>
      <li><a href="{{ site.data.build.release_path }}">Release</a></li>
      <li><a href="{{ site.data.build.build_path }}">Build</a></li>
    </ul>
  </div>
</footer>
