<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.tag }} :: Joe Corcoran</title>
    {% include head.html %}
  </head>
  <body>
    {% include banner.html %}
    <div class="index">
      <h1>Articles tagged with {{ page.tag }}</h1>
      <section class=posts>
        {% for post in page.posts %}
          {% if post.hidden != true %}
            {% include post_article.html %}
          {% endif %}  
        {% endfor %}
      </section>
      <footer>
        <p>
          <a href="/articles" class="back">All articles</a>
        </p>
      </footer>
    </div>
    {% include footer.html %}
  </body>
</html>
